<div class="body">

  <br/> <h3> Nous Contacter </h3> <br/>

  <div class="p-grid">

    <div class="p-col-6">
      <h4 style="text-align: center"> Nos Coordonnées </h4> <br/>
      <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i class="pi pi-home"></i> &nbsp; 48, Avenue Paradis du Loisirs 69 007 Lyon </p> <br/>
      <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i class="pi pi-envelope"></i> &nbsp; Escap'Life@gmail.com </p> <br/>
      <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <i class="pi pi-mobile"></i> &nbsp; + 33 4 22 33 44 55 </p>
    </div>
    
    <div class="p-col-6">
      <h4>Une Question ? Une idée ?</h4> <br/>
      <textarea rows="10" cols="50" pInputTextarea></textarea> <br/>
      <p-button icon="pi pi-envelope"></p-button>
    </div>
      
  </div>

</div>
