.body {
    background-color: beige;
    height: 592px;
}

h3 {
    background-color: beige;
    text-align: center;
    font-family: Segoe Print; 
    color: darkred; 
    font-weight: bold; 
    text-decoration: underline; 
    font-size: 40px ; 
    text-shadow: 2px 2px 4px paleturquoise;
}

h5 {
    text-align: center;
    font-family: Segoe Print; 
    color: darkred; 
    font-weight: bold; 
    text-decoration: underline;
    font-size: 16px;
}

.button {
    margin-left: 45%;
}
