<div class="body">

    <br/> <h3> Envie de nous Connaître ? </h3> <br/>

    <p-card>
        <p-header>
            <br/><img src="Card" src="assets/images/quisommesnous/qui-sommes-nous.jpg"> <br/>
            <h5>NOTRE EQUIPE</h5>
        </p-header>
        <p> Deux jeunes ingénieurs en informatique ayant gardés une âme d'enfant et adorant s'amuser.
            Nous avons donc eu un rêve : travailler dans un milieu où nous serions en contact permanent avec
            des gens heureux. Pour le réaliser, nous avons décidé de créer un endroit propice à la joie et la
            bonne humeur. C'est de là qu' ''ESCAP'LIFE'' en né.</p>
    </p-card>
    
    <br/>
    <br/>
    
    <p-card>
        <p-header>
            <br/><img src="Card" src="assets/images/quisommesnous/avantages.jpg"><br/>
            <h5>NOS +</h5>
        </p-header>
        <div>
            <ul>
                <li>
                    Privilégier le sponsoring avec des petites entreprises locales afin de mettre en avant notre
                    savoir-faire local ;
                </li>
                <li>
                    La diversité des activités qui permettent à chacun de trouver son bonheur ;
                </li>
                <li>
                    Les salles escape game peuvent accueillir un groupe de maximum 8 personnes. Toutefois, il
                    est possible aux grands groupes de s'affronter en mode "rapidité" grâce aux deux salles
                    identiques ;
                </li>
                <li>
                    La mise en place d'un escape game et laser game "kids" afin de permettre aux parents de s'amuser tout en gardant leurs
                    enfants à portée.
                </li>
            </ul>
        </div>
    </p-card>
    
    <br/>
    <br/>

    <p-card>
        <p-header>
            <br/><img src="Card" src="assets/images/quisommesnous/objectifs.jpg"><br/>
            <h5>NOS OBJECTIFS</h5>
        </p-header>
        <div>
            <p> De nos jours la vie est rude, les gens sont à cran, les français râleurs ; "Escap'Life" a donc décidé
            d'apporter un peu de bonheur dans le monde de chacun en offrant un univers de liberté et
            d'épanouissement.
            Le centre a donc misé sur trois points : </p>
            <ul>
                <li>
                    pour apporter des sourires, rien de tel qu'une activité récréative ;
                </li>
                <li>
                    pour se détendre, rien de mieux que de se retrouver en famille ou entre amis ;
                </li>
                <li>
                    pour profiter pleinement des activités, rien de plus efficace que de séparer adultes et jeunes grâce à des activités adaptées à tous!
                </li>
            </ul>
        </div>
    </p-card>

</div>
