<div class="body">
  <br/> <br/> <br/>
  <p> Félicitations votre réservation a bien été prise en compte !!! </p>
  
  <br/>
  <div style="text-align: center">
    <img src="Card" src="assets/images/bravo/bravo.gif"/>
  </div>
    
  <title>Redirection en htm</title> <meta http-equiv="refresh" content="8; URL=http://localhost:4200/pageaccueil">
  
  <br/>
  <p> Vous allez désormais être redirigé vers la page d'accueil. 
  <p-progressSpinner [style]="{width: '25px', height: '25px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">  </p-progressSpinner> </p>

</div>
