<div class="body">

  <div class='client panel panel-default'>
  
    <div class="panel-heading">
      <br/> <h3> Détails de l'employé sélectionné</h3> <br/>
    </div>
  
    <div>
      <h5> Données personnelles </h5>
        <p> Nom: {{ employe.nom }} </p>
        <p> Prénom: {{ employe.prenom }} </p>
        <p> Téléphone: {{ employe.tel }} </p>
        <p> Mail: {{ employe.mail }} </p>
  
      <h5> Poste </h5>
        <p>Matricule: {{ employe.matricule }} </p>
        <p>Type: {{ employe.type }} </p>
  
      <h5> Compte </h5>
        <p>Username: {{ employe.userName }} </p>
        <p>Password: {{ employe.passWord }} </p>
    </div>
  
  </div>
  
  <br/> <br/>

  <p> 
    <a (click)="goBackButtonPressed()" style='cursor: pointer; color: darkblue; border: 1px dashed darkblue'>Retour</a> &nbsp; &nbsp;
    <a (click)="editButtonPressed()" style='cursor: pointer; color: darkblue; border: 1px dashed darkblue'>Modifier</a> &nbsp; &nbsp;
    <a (click)="deleteButtonPressed()" style='cursor: pointer; color: darkblue; border: 1px dashed darkblue'>Supprimer</a> 
  </p>
  
</div>

